.login-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
  .login-section {
    display: flex;
    justify-content: space-between;
    width: 26%;
    .selected-button {
      background-color: #5514b4;
      color: white;
      width: 40%;
    }
  }
}
